<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elect.dao.CategoryProductDao">
    <select id="findCategoryProductsByCatId" parameterType="int" resultType="CategoryProduct">
        select * from d_category_product where cat_id = #{id}
    </select>
</mapper>